@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "./config";

// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: $bg-light !important;
    font-family: Montserrat, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
    margin: 0 auto;
    max-width: $max-width;

    .header {
        height: 100px;
        text-align: center;
        font-weight: $bold;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $bg-white;
        box-shadow: $box_shadow;
        border-radius: $border-radius;
    }

    .content {
        // min-height: 600px;

        .filter {
            background-color: $bg-white;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            height: 50px;

            &-heading {
                height: 50px;
                box-shadow: $box_shadow;

                cursor: pointer;
                font-weight: 600;
                padding-top: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &::after {
                    content: "\25be";
                }

                &.active::after {
                    content: "\25b4";
                }
            }

            &-sub-heading {
                text-align: center;
                border-bottom: 1px solid;
                padding-bottom: 0.6em;
                font-weight: 500;
            }

            &-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                top: calc(50px + 1rem);
                border-bottom-left-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
                background-color: $bg-white;
                transform: scaleY(0);
                transform-origin: 50% 0%;
                opacity: 0;
                box-shadow: $box_shadow;
                z-index: 10;

                &.active {
                    transform: scaleY(1);
                    opacity: 1;
                }

                ul {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    justify-items: center;
                    align-items: center;

                    li {
                        cursor: pointer;
                        margin: 1rem;
                        border-radius: $border-radius;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 2.5em;
                        width: 5em;
                        font-weight: 500;
                        background-color: lighten($primary-color, 50%);
                        list-style: none;

                        &.active {
                            pointer-events: none;
                            background-color: lighten($primary-color, 30%);
                        }
                    }
                }
            }
        }

        .card-container {
            .card {
                background-color: $bg-white;
                width: 100%;
                border-radius: $border-radius;
                box-shadow: $box_shadow;
                margin-top: 2rem;

                .logo {
                    width: 100%;
                    background-color: $bg-light;
                    border-radius: $border-radius;
                    display: flex;
                    justify-content: center;
                    img {
                        width: 90%;
                    }
                }

                li {
                    list-style: none;
                    padding: 1rem 1rem;
                    display: flex;
                    justify-content: space-between;

                    ul li {
                        padding: 0;
                    }

                    & > span {
                        font-weight: 600;
                    }

                    &:nth-child(2) {
                        color: darken($primary-color, 20%);
                        letter-spacing: 0.05rem;
                        display: flex;
                        justify-content: center;
                        font-size: 120%;
                        font-weight: 700 !important;
                    }
                }
            }
        }
    }

    .pages {
        display: none;
        height: 50px;
        background-color: $bg-white;
        border-radius: $border-radius;
        box-shadow: $box_shadow;
        opacity: 0;

        &.active {
            filter: blur(4px);
        }

        ul {
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            li {
                width: 1.5rem;
                height: 1.5rem;
                cursor: pointer;
                color: $primary-color;
                font-weight: 700;
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;

                &.active {
                    pointer-events: none;
                    text-decoration: underline;
                }
            }
        }
    }

    .footer {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        .bold {
            font-weight: $bold;
        }
    }
}

@media only screen and (min-width: 701px) {
    .content {
        display: flex;
        font-size: 70%;
        margin-top: 2rem;

        .filter {
            width: 500px;
            margin-right: 1rem;

            &-heading {
                &::after {
                    content: "\25be" !important;
                }
            }

            &-content {
                transform: scaleY(1) !important;
                opacity: 1 !important;
            }
        }

        .card-container {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;
            margin: 0 0 0 1rem;

            flex-wrap: wrap;

            .card {
                margin: 0 !important;
                display: inline-block;
            }
        }
    }

    .pages {
        margin-top: 2rem;
        ul {
            justify-content: center !important;
            li {
                margin: 1rem;
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    .content {
        .card-container {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
